
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.footer-item{
	margin-left: 7%;
	vertical-align: top;
}

.catalog-path{
	padding-left: 2%;
}

.sidebar-catalog ul {
	padding-left: 2%;
}

.catalog-item{
	width: 200px;
}
.sidebar-catalog{
	width: 250px;
	margin-right: 20px;
}
.section-content{
	width: 690px;
}

.sidebar-logo{
	padding-left: 32%;
}

.description{
	width: 690px;
}

.section-descr{
	width: 320px;
}

.pagination {
    margin-left: 56%;
    display: inline-block;
}

.float-left{
	margin-left: 6%;
}
.float-left-second{
	margin-left: 8px;
}
hr{
	width: 500px;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-logo{
	margin-left: 10%;
}

.header-info{
	margin-right: 10%;
  	font-size: 32px;
}

.header-logo img{
	padding-top: 35px;
}

.main-menu ul li{
	padding: 25px 7px;
}

.main-menu ul li a{
	font-size: 20px;
}

.footer-item{
	margin-left: 1%;
}
.catalog-item img{
	padding: 20px 5px;
	float: left;
}
.catalog-item p{
	margin-top: 40px;
}
.catalog-item h3,
.catalog-item .basket{
	margin-top: 130px;
}
.catalog-item .basket{
	margin-top: 120px;
}
.footer-feature img {

    margin-bottom: 25px;
}
.section-descr p {
	margin-bottom: 30px; 
   }

.catalog-path{
	padding-left: 5%;
}

.sidebar-catalog ul {
	padding-left: 8%;
}

.catalog-item{
	width: 100%;
}
.catalog-item .basket{
	padding-right: 20px;
}
.catalog-item img{
	padding-left: 20px;
}
.catalog-item p{
	padding-left: 15px;
}
.sidebar-catalog{
	width: 200px;
}
.section-content{
	width: 70%;
}

.sidebar-logo{
	padding-left: 32%;
}

.description{
	width: 100%;
	border: none;
}

.section-descr{
	width: 100%;
	padding: 20px;
	border-top: 1px solid #000;
}

.float-left,
.float-left-second{
	margin-left: -11px;
}

hr{
	display: none;
}

} 

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}